.Board-container {
    padding-top: 20%;
    width: 20%;
    height: 0;
    position: relative;
    display: inline-block;
}

.Board-container.turn {
    padding-top: 40%;
    width: 40%;
}

.Board {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    background: black;
    grid-gap: 1px;
    border: 1px solid black;
}
