.ShipTray-container {
    width: 20%;
    height: 0;
    padding-top: 10%;
    position: relative;
    margin: auto;
}

.ShipTray {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template: repeat(3,1fr) / repeat(6,1fr);
    justify-content: center;
    align-content: center;
    background: black;
    grid-gap: 1px;
    border: 1px solid black;
}